name: Deploy Web Page 1

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install
      - name: Build site
        run: yarn build
      - name: Deploy site
        uses: actions/upload-pages-artifact@v2
        with:
          artifacts: build
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target-branch: gh-pages
